:root {
    --primary-color: #009688;
    --secondary-color: #00796b;
    --background-color: #f0f0f0;
    --text-color: #333;
    --white: #fff;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
}

.container {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

h1, h2 {
    color: var(--secondary-color);
}

.logo-wrapper {
    display: flex;
    justify-content: center; /* Center the logo horizontally */
    margin-bottom: 1rem; /* Space between logo and nav */
}

.logo {
    max-height: 60px; /* Adjust the height as needed */
    width: auto;
}

.logo-nav-container {
    display: flex;
    justify-content: center; /* Center navigation items */
    align-items: center;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

nav ul {
    display: flex;
    justify-content: center; /* Center navigation items */
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

nav ul li a:hover {
    opacity: 0.8;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
}

.input-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 25px; /* Rounded edges for buttons */
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    padding: 1rem 0;
}

footer .share-button {
    margin: 0.5rem 0; /* Adds spacing between footer elements */
}

#pinstall {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share-icon {
    max-width: 40px;
    margin-bottom: 0.5rem;
}
